// TODO: refactor nested selectors

.cart {
  padding-top: rem(40px);
  padding-bottom: rem(80px);
  @include media($tablet) {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
  }

  &__title {
    margin-bottom: rem(60px);
    text-align: center;
    @include media($tablet) {
      margin-bottom: rem(30px);
    }
  }

  .empty {
    text-align: center;

    .cart__title {
      margin-bottom: 2.5rem;
    }

    .primary-button {
      margin-top: 1rem;
    }
  }

  .cart-main {
    .titles-row {
      padding-bottom: rem(14px);
      border-bottom: 1px solid $color-light-grey;
      @include media($tablet) {
        display: none;
      }

      h2 {
        letter-spacing: 0.1rem;
      }
    }

    &__row {
      display: grid;
      grid-template-columns: 12% 1fr 12% 12% 12%;
      grid-gap: 1rem;
      padding: 1rem 0;
      @include media($tablet) {
        grid-template-columns: 100px 1fr 65px;
      }
    }

    .cart-item {
      border-bottom: 1px solid $color-light-grey;
      @include media($tablet) {
        border-top: 1px solid $color-light-grey;
      }

      & > h2,
      & > div {
        @include media($tablet) {
          &:nth-last-child(3) {
            text-align: right;
          }
        }

        &:last-child {
          text-align: right;
          @include media($tablet) {
            display: none;
          }
        }

        &:nth-last-child(2) {
          text-align: center;
          @include media($tablet) {
            display: none;
          }
        }
      }

      &__mobile {
        display: none;
        margin-bottom: 1rem;
        @include media($tablet) {
          display: block;
        }
      }

      &__image {
        @include media($tablet) {
          img {
            height: 100%;
          }
        }
      }

      &__name {
        position: relative;
        padding-top: 2rem;
        @include media($tablet) {
          padding-top: 1rem;

          .quantity-picker__btn {
            padding: 0;
            margin: 0;
            font-size: 18px;
            text-decoration: none;
          }
        }

        .product-title {
          @include media($tablet) {
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
          }

          a {
            text-decoration: none;
          }
        }

        ul {
          padding: 0;
          margin: rem(8px) 0;
          font-size: 16px;
          font-weight: 300;
          line-height: 136%;
          list-style: none;
          @include media($tablet) {
            font-size: 14px;
          }
        }

        .error-placeholder {
          // position: static;
          // bottom: 0;
          // left: 0;
          font-size: 10px;
          color: $color-error;
        }
      }

      &__price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include media($tablet) {
          display: block;
        }

        .original-price {
          margin: 0;
          text-decoration: line-through;
          opacity: 0.3;
        }

        .final-price {
          margin: 10px 0;
          @include media($tablet) {
            margin-top: 1rem;
            font-size: 12px;
            font-weight: 300;
            line-height: 14px;
            word-break: break-all;
          }
        }
      }

      &__quantity {
        display: flex;
        align-items: center;
        @include media($tablet) {
          display: none;
        }

        .quantity-picker {
          position: relative;
          margin: 0 auto;
          font-family: $font-extended;
          font-size: 16px;
          line-height: 19px;

          &__btn {
            font-size: 18px;
            text-decoration: none;
          }

          &.loading {
            pointer-events: none;
            opacity: 0.5;
          }

          input {
            pointer-events: none;
          }
        }
      }

      &__total {
        position: relative;
        display: flex;
        align-items: center;
        margin-left: auto;
        @include media($tablet) {
          display: none;
        }

        .remove {
          position: absolute;
          right: 0;
          bottom: 0;
          padding: 0;
          font-size: 16px;
          font-weight: 300;
          line-height: 136%;
          text-decoration-line: underline;
          background: none;
          border: none;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: flex-end;
    @include media($tablet) {
      justify-content: center;
    }

    .cart-bottom {
      width: 100%;
      max-width: 328px;
      margin-top: 1.2rem;
      @include media($mobile) {
        max-width: 100%;
      }

      &__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;

        h4,
        span {
          font-family: $font-extended;
          font-size: rem(18px);
          font-weight: bold;
          line-height: rem(22px);
        }
      }

      &__shipping {
        margin-bottom: 1rem;
        font-size: rem(16px);
        font-weight: 300;
        line-height: 136%;
      }
    }

    .cart-checkout {
      width: 100%;
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }
}
