// TODO: refactor nested selectors

.giftcard {
  padding: 2rem 1rem;
  text-align: center;

  img {
    margin: 0 auto 2rem;
  }

  &__header {
    margin-bottom: 2rem;
  }

  &__wrap {
    margin-bottom: 2rem;
  }
}
