// TODO: refactor nested selectors

.password-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  color: #fff;

  &__body {
    position: relative;
    max-width: 600px;
    text-align: center;

    .main-logo {
      display: inline-block;
      margin-bottom: 2rem;
    }

    h1 {
      margin-bottom: 1.5rem;
      font-size: rem(50px);
    }
  }

  footer {
    position: relative;
    margin-top: 1rem;

    .socials {
      display: flex;

      li {
        margin: 0 5px;

        a {
          color: #fff;
        }

        img,
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.password-section__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
