.product-card {
  display: grid;
  @include media($tablet) {
    max-width: 100%;
  }
}

.product-card__error {
  // padding: 0 1rem;
  font-size: 10px;
  color: #d81356;

  > div {
    margin-bottom: 1rem;
  }
}

.product-card__image {
  position: relative;
  aspect-ratio: 6/9;
  // max-height: 470px;
  overflow: hidden;

  .images,
  .main-image {
    height: 100%;
  }

  .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 650ms ease-in-out;
  }

  .responsive-image__wrapper {
    height: 100%;
  }

  .responsive-image__image {
    width: 100%;
    max-width: 100% !important;
    height: fit-content;
    height: 100% !important;
    max-height: 100% !important;
    object-fit: cover;
  }
}

.product-card__label {
  position: absolute;
  top: 0;
  left: 0;

  span {
    display: inline-block;
    font-family: $font-extended;
    font-size: rem(16px);
    font-weight: normal;
    font-weight: 400;
    line-height: rem(19px);
    text-transform: uppercase;
    transform: rotate(90deg) translate(-5px, -9px);
    transform-origin: 0% 100%;
    @include media($tablet) {
      font-size: rem(12px);
      line-height: rem(14px);
      transform: rotate(90deg) translate(-10px, -6px);
    }
  }
}

.product-card__wishlist {
  position: absolute;
  top: 0;
  right: 0;

  button {
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 0;
    margin-top: 8px;
    margin-right: 8px;
    cursor: pointer;
    background: none;
    border: 0;

    svg {
      width: 16px;
      height: 16px;
    }

    .wk-label {
      display: none;
    }
  }
}

.product-card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}

.product-card__form {
  &.js-ajax-cart-form-in-progress .secondary-button {
    @include loading;
  }
}

.product-card__actions {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  opacity: 0;
  transition: opacity 400ms ease;
  @include media($tablet) {
    display: none;
  }

  &--only-one {
    grid-template-columns: 100%;

    .select-tag {
      display: none;
    }
  }
}

.product-card__description {
  display: grid;
  grid-template-columns: 75% 25%;
  padding: 1rem 5px 8px;

  @include media($tablet) {
    grid-template-columns: none;
    padding: 8px;
  }

  &--soldout {
    .title,
    .current-price {
      text-decoration: line-through;
    }
  }
}

.product-card__titleblock {
  .title {
    margin-bottom: 8px;
    font-size: rem(16px);
    font-weight: normal;
    line-height: rem(19px);
    @include media($tablet) {
      font-size: rem(12px);
      line-height: rem(14px);
    }

    a {
      color: $color-black;
      text-decoration: none;
      transition: opacity 400ms ease;
    }
  }
}

.product-card__priceblock {
  font-family: $font-extended;
  font-size: rem(16px);
  font-weight: normal;
  line-height: rem(19px);
  text-align: right;
  @include media($tablet) {
    font-size: rem(12px);
    line-height: rem(14px);
    text-align: left;
  }

  .old-price {
    // opacity: 0.5;
    color: #5c5c5c;
    text-decoration: line-through;
  }
}

.bis-notifyme {
  font-size: 12px;
  text-align: center;
}

@media (min-width: 768px) {
  .product-card__image:hover {
    .product-card__actions {
      opacity: 1;
    }

    .hover-image {
      opacity: 1;
    }
  }
}
