// TODO: refactor nested selectors

.product {
  padding: 4rem rem(40px);
  @include media($tablet-l) {
    padding: 0;
    padding-bottom: 2rem;
  }

  .product-container {
    display: grid;
    grid-template-columns: 50% 46%;
    grid-gap: 4%;
    @include media($tablet-l) {
      grid-template-columns: auto;
      grid-gap: initial;
    }
  }

  .title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: $font-extended;
    font-size: rem(16px);
    line-height: rem(19px);
  }

  &__gallery {
    position: relative;
    display: grid;
    grid-template-columns: rem(99px) 1fr;
    grid-gap: 24px;
    @include media($tablet-l) {
      grid-template-columns: auto;
    }

    .product-thumbnails {
      height: 100%;
      max-height: 660px;
      @include media($tablet-l) {
        display: none;
        max-height: 400px;
      }

      &__item {
        max-height: 200px;
        cursor: pointer;

        &.swiper-slide-thumb-active {
          border: 1px solid $color-black;
        }
      }

      img {
        height: 100%;
        object-fit: cover;
      }

      .video-play {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        transform: translate(-50%, -50%);
      }
    }

    .product-images {
      // max-width: 557px;
      width: 100%;
      margin-left: 0;
      @include media($tablet) {
        .swiper-slide {
          // height: auto;
          height: 300px;
        }

        img {
          height: 100%;
        }
      }

      .video-play {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 120px;
        height: 120px;
        cursor: pointer;
        transform: translate(-50%, -50%);

        &:hover {
          svg {
            filter: drop-shadow(0 0 4px #fff);
          }
        }

        svg {
          width: 120px;
          height: 120px;
          pointer-events: none;
          transition: filter 450ms ease;
        }
      }

      img {
        width: 100%;
        object-fit: cover;
      }

      .swiper-zoom-container {
        align-items: flex-start;
      }

      .swiper-wrapper {
        height: auto;
      }

      figure.zoom {
        position: relative;
        width: 100%;
        height: 100%;
        // max-height: 898px;
        aspect-ratio: 6/9;
        overflow: hidden;
        cursor: zoom-in;
        background-position: 50% 50%;

        & img:hover {
          opacity: 0;
          @include media($tablet) {
            opacity: 1;
          }
        }

        img {
          display: block;
          width: 100%;
          height: 100%;
          transition: opacity 0.5s;
          object-fit: cover;
        }
      }

      .swiper-button {
        display: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        background: none;
        border: none;
        @include media($tablet-l) {
          display: block;
        }

        &::after {
          display: none;
        }

        svg {
          fill: $color-black;
          @include media($tablet) {
            width: 24px;
          }
        }

        &.swiper-button-disabled {
          svg {
            fill: none;
          }
        }
      }

      .swiper-button-prev {
        svg {
          transform: rotate(180deg);
        }
      }

      .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        background: none;
        border: 1px solid $color-white;
        opacity: 1;
      }

      .swiper-pagination-bullet-active {
        background-color: $color-white;
      }
    }
  }

  &__details {
    display: flex;
    padding-top: 5%;
    @include media($tablet-l) {
      max-width: 538px;
      margin: 0 auto;
    }

    @include media($tablet) {
      padding-top: 1rem;
    }
    // align-items: center;
    .product-details {
      width: 100%;
      @include media($tablet-l) {
        padding: 0 16px;
      }

      &__title {
        margin-bottom: rem(14px);
        @include media($tablet-l) {
          margin-bottom: 5px;
          font-size: rem(32px);
          line-height: rem(38px);
        }
      }

      &__price {
        display: flex;
        margin-top: 0;
        margin-bottom: 2rem;

        h5 {
          margin: 0;
          font-weight: 400;
        }

        .sale-price {
          // color: red;
          font-weight: bold;
        }

        .compare-at-price {
          // opacity: 0.5;
          margin-left: 1rem;
          text-decoration: line-through;
        }
      }

      &__shopPay {
        margin-bottom: 1rem;
        font-size: rem(14px);
        font-weight: 300;
        line-height: 136%;
      }

      &__description {
        margin-bottom: 1rem;

        [data-accordion="content-container"] {
          height: 0;
          overflow: hidden;
          transition: all 0.1s linear;
        }

        .accordion {
          &__item {
            margin-bottom: 1rem;
          }

          &__trigger {
            position: relative;
            display: block;
            width: 100%;
            padding-left: 0;
            font-family: $font-extended;
            // padding: 10px 12px;
            font-size: rem(16px);
            line-height: rem(19px);
            text-align: left;
            text-decoration: none;
            text-transform: uppercase;
            cursor: pointer;
            background: none;
            border: none;

            &::after {
              position: absolute;
              top: 2px;
              width: 16px;
              height: 16px;
              margin-left: 1rem;
              content: "";
              background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeT0iNyIgd2lkdGg9IjE2IiBoZWlnaHQ9IjIiIGZpbGw9ImJsYWNrIi8+CjxyZWN0IHg9IjciIHk9IjE0IiB3aWR0aD0iMTIiIGhlaWdodD0iMiIgdHJhbnNmb3JtPSJyb3RhdGUoLTkwIDcgMTQpIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K")
                0 0 no-repeat;
              transition: all 0.2s linear;
            }

            &.is-collapsed::after {
              background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeT0iNyIgd2lkdGg9IjE2IiBoZWlnaHQ9IjIiIGZpbGw9ImJsYWNrIi8+Cjwvc3ZnPgo=")
                0 0 no-repeat;
            }
          }

          &__content {
            padding: 10px 0 0;
            font-size: rem(14px);
            font-weight: 300;
            line-height: 136%;

            p {
              margin-bottom: 4px;
            }

            ul {
              padding-left: 22px;
              margin: 1rem 0 0;
              list-style: disc;

              li {
                margin-bottom: 3px;
              }
            }
          }
        }
      }

      &__quantityblock {
        margin-bottom: 1rem;

        .quantity {
          display: flex;
          flex: 1;
          justify-content: space-between;
          max-width: 192px;
          height: 50px;
          text-align: center;
          border: 1px solid $color-grey;

          &__title {
            margin-top: 0;
            margin-bottom: 0.5rem;
            font-size: 1rem;
            text-transform: initial;
          }

          &__button {
            width: 100%;
            font-family: $font-extended;
            font-size: 1.5rem;
            line-height: rem(19px);
            cursor: pointer;
            background: none;
            border: none;
          }

          input[type="number"] {
            max-width: 50%;
            font-family: $font-extended;
            font-size: rem(16px);
            line-height: rem(19px);
            text-align: center;
            border: none;
          }

          /* Chrome, Safari, Edge, Opera */
          input[type="number"]::-webkit-outer-spin-button,
          input[type="number"]::-webkit-inner-spin-button {
            margin: 0;
            appearance: none;
          }

          /* Firefox */
          input[type="number"] {
            appearance: textfield;
          }
        }
      }
    }
  }
}

.variant-button {
  &__wrapper {
    padding: 0;
    margin-bottom: 1rem;
    margin-left: 0;
    border: none;
  }

  &__label {
    margin-bottom: 0.5rem;
  }

  input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  input[type="radio"] + label {
    display: inline-block;
    padding: 0.5rem 2rem;
    cursor: pointer;
    background: transparent;
    border: 1px solid #e7e6e6;
    transition: border-color 300ms ease;
  }

  input[type="radio"].unavailable + label {
    background: linear-gradient(
      to top right,
      #fff calc(50% - 1px),
      #4c4c4c,
      #fff calc(50% + 1px)
    );
  }

  input[type="radio"].hidden + label {
    display: none;
  }

  input[type="radio"]:checked + label {
    border-color: #000;
  }
}

.variant-dropdown {
  &__wrapper {
    margin-bottom: 1rem;
  }

  &__label {
    margin-bottom: 0.5rem;
  }

  .select {
    position: relative;
    max-width: rem(192px);

    select {
      box-sizing: border-box;
      width: 100%;
      height: rem(48px);
      padding: 0 4rem 0 1.5rem;
      font-size: 1rem;
      line-height: 1.6;
      cursor: pointer;
      border-color: #c4c4c4;
      border-radius: 0;
      appearance: none;
      appearance: none;
    }

    .icon-caret {
      position: absolute;
      top: calc(50% - 0.2rem);
      right: 1.5rem;
      width: 10px;
      height: 0.6rem;
      pointer-events: none;
    }
  }
}

.product-form {
  &__error-message {
    font-size: 10px;
    color: $color-error;
    // padding: 1rem 0.5rem;
    & > div {
      padding-bottom: 1rem;
    }
  }

  &__submit {
    position: relative;
    // margin-bottom: 0.5rem;
    &:disabled {
      opacity: 0.5;
    }
  }

  .shopify-payment-button__button {
    text-transform: uppercase;
    background-color: #795548;
    border-radius: 0;

    &:hover {
      background-color: #af725d;
    }
  }
}

.js-ajax-cart-form-in-progress .product-form__submit {
  font-size: 1px;
  background-color: #fff;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    margin-top: -12px;
    margin-left: -12px;
    content: "";
    border: 4px solid grey;
    border-radius: 50px;
    animation: loading 0.5s linear infinite;
  }
}

.option-select {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  border: none;

  .product-form__field {
    position: relative;
    flex: 0 0 calc(20% - 8px);
    margin: 0 rem(8px) rem(8px) 0;
    line-height: rem(40px);
    text-align: center;
    cursor: pointer;
    border: 1px solid $color-grey;
    @include media($tablet) {
      flex: 0 0 calc(33% - 8px);
    }

    &.active {
      border: 1px solid $color-black;
    }

    &.disabled {
      pointer-events: auto;
      opacity: 0.4;

      label {
        text-decoration: line-through;
      }
    }

    input {
      &[type="radio"] {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        cursor: pointer;
        opacity: 0;

        & + label {
          margin-bottom: 0;
        }
      }
    }
  }

  &--swatches {
    input {
      // &:checked + label {
      //   border-color: black;
      // }
    }

    label {
      pointer-events: none;

      img {
        pointer-events: none;
      }
    }
  }
}

.comingsoon .notifyme-button {
  display: block !important;
}

.comingsoon-button {
  margin-bottom: 5px;
}
